a {
    font-size: 22px;
    position: relative;
    outline: none;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(244,108,178,1) 0%, rgba(116,102,255,1) 100%);
    transition: width 0.2s ease-in-out;
}

a.active-link::after, a:hover::after {
	width: 100%;
}

#div-border {
    border-bottom: 1px solid grey;
}

.w-90 {
    width: 95%;
}