<div class="chat-container">
    <div class="chat-messages-wrapper">
        <div class="chat-messages">
            <div class="message">Hello! How can I help you today?</div>
            <div class="message user">Hi! I need assistance with my account.</div>
            <div class="message">Sure! What seems to be the problem?</div>
            <div class="message user">I can't seem to log in. It says my password is incorrect.</div>
            <div class="message">Let me help you reset your password.</div>
            <div class="message user">Hi! I need assistance with my account.</div>
        </div>
    </div>
    <div class="chat-input">
        <input type="text" id="message-input" placeholder="Type a message...">
        <button id="send-button">Send</button>
    </div>
<div>