<div class="chat-container">
    <div class="chat-messages-wrapper">
        <div class="chat-messages" *ngFor="let message of messages">
            <div class="message" [ngClass]="{'user': message.userMessage }">{{ message.text }}</div>
        </div>
    </div>
    <div class="chat-input">
        <input type="text" id="message-input" (keydown.enter)="send()" (keydown.escape)="loseFocus()" placeholder="Type a message...">
        <button id="send-button" (click)="send()">Send</button>
    </div>
<div>