* {
  z-index: 3;
}

#transparent-layer {
  z-index: 2;
  color: rgba(255, 255, 255, 0.589);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
    width: 511px;
    height: 120px;
}

#logo-small {
    min-width: 200px;
    max-width: min(400px, 90%);
    height: auto;
}

#canvas3d {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 1;
}

#footer {
    position: absolute;
    bottom: 15px;
}

// Button - Start

button {
    align-items: center;
    background-image: linear-gradient(90deg, rgba(244,108,178,1) 0%, rgba(116,102,255,1) 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  button:active,
  button:hover {
    outline: 0;
  }
  
  button span {
    background-color: #272727;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
  }
  
  button:hover span {
    background: none;
  }
  
  button:active {
    transform: scale(0.9);
  }
  
  // Button - End

  #particle-container {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @for $i from 1 through 30 {
    @keyframes particle-animation-#{$i} {
      100% {
        transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
      }
    }
    
    .particle:nth-child(#{$i}){
      animation: particle-animation-#{$i} 60s infinite;
      $size: random(5) + 5 + px;
      opacity: calc(random(100)/100);
      height: $size;
      width: $size;
      animation-delay: -$i * .2s;
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
      background: linear-gradient(90deg, rgba(244,108,178,1) 0%, rgba(116,102,255,1) 100%);
    }
  }