#logo {
    height: 80px;
    width: 341px;
}

nav {
    background-color: #272727 !important;
}

li a {
    font-size: 22px;
    position: relative;
    outline: none;
}

li a::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(244,108,178,1) 0%, rgba(116,102,255,1) 100%);
    transition: width 0.2s ease-in-out;
}

li a.active-link::after, li a:hover::after {
	width: 100%;
}